In [27]:
#指派變數
tax = 0.2    #tax是浮點數型別的變數
price = 600
honda_telephone = '0958-602-276'

In [2]:
tax

0.2

In [3]:
price

600

In [4]:
honda_telephone

'0958-602-276'

In [5]:
price*tax

120.0

In [6]:
total = price*tax

In [7]:
total

120.0

In [8]:
print('稅' , tax)

稅 0.2

In [9]:
print('價格' , price)

價格 600

In [11]:
print('總價' , total+price)

總價 720.0

In [12]:
print('謝謝您的聯絡，您的聯絡電話是 :' , honda_telephone)

謝謝您的聯絡，您的聯絡電話是 : 0958-602-276

In [13]:
import keyword

In [15]:
my_class = 3

In [17]:
my_class

3

In [18]:
班級 = 18
一班學生數 = 30
總學生數 = 班級*一班學生數

In [19]:
總學生數

540

In [20]:
34 > 22

True

In [21]:
34 < 22

False

In [22]:
34 == 22

False

In [23]:
number = 55  #number是整數型別的變數

In [25]:
text = 'hello'  #text是文字型別的變數

In [30]:
message = '生日快樂'

In [31]:
message

'生日快樂'

In [32]:
"I'm fine"

"I'm fine"

In [33]:
'''
Sunday
Monday
Tuesday
'''            #\n : 跳行的控制碼

'\nSunday\nMonday\nTuesday\n'

In [38]:
print('Sunday' , '\nMonday' , '\nTuesday')

Sunday
Monday
Tuesday

In [40]:
'thunder' + 'bolt'

'thunderbolt'

In [41]:
'hunter'*5

'hunterhunterhunterhunterhunter'

In [42]:
'\nhunter'*5

'\nhunter\nhunter\nhunter\nhunter\nhunter'